*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
:root{
    --tB: 1.8rem;
    --tM: 1.4rem;
    --tSm: 1.2rem;       
}
p{
    font-size: var(--tM);
}
label{
    font-size: var(--tM);

}
.header{
    background-color: black;
    width: 100%;
    height: 50px;
    display: grid;
    text-align: center;
    
}
.header h1 {
    color: white;
    margin-top: 10px;
}
.main{    
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;/*centra en horisonta y vertical*/
}
.card{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    border: 1px solid black;
    padding: 12px 8px ;
    border-radius: 8px;
}
.card > h2{
    text-align: center;
    margin: 12px;
    border-bottom: 1px solid gray;
}
.card-form{
    display: flex;
    flex-direction: column;
}
.card-form label{
    margin-top: 6px;
    margin-bottom: 6px;
}
.card-form input{
    margin-top: 6px;
    margin-bottom: 6px;
}
.card-form div > span{
    font-size: var(--tB);
}
.card-form  .main-buttons{
    text-align: center;
}
.card-form  .main-buttons .buttons{
    background-color: #f8f9fa;
    border: none;
    border-radius: 6px;
    width: 60%;
    height: 30px;
    text-align: center;
}
.card-form  .main-buttons .buttons:hover{
    border: 1px solid #e1e2e5;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}


.card-solution{
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid gray;
    padding: 4px;
}
.card .card-solution_IconDiscount{
    display: none;
}
#percentage{
    display: none;
}